@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

:root {
    --main: #C85656;
    --accent: #8F3030;
}

body {
    background-color: #ffffff;
    color: black;
    margin: 0;
    font-family: 'Open Sauce One';

    overflow-x: hidden;
    max-width: 100%;

}

#title {
    color: var(--main);
    font-size: 6rem;
    font-weight: 900;
    line-height: 0;
    align-self: center;
    letter-spacing: -0.8vh;



}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5vh;
}

.slogan {
    font-size: 0.8rem;
    margin: -1vh;
    transform: translateY(4px);
    text-align: right;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5vh;
    border-radius: 30px;
}

.logo-section {

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main);
    padding: 3vh 5vh 3vh;
    position: sticky;
    border-radius: 130px 0% 0% 130px;
    top: 0;
    box-shadow: 0px 0px 10px var(--main);
}



.logo {
    width: 15vh;
    z-index: 10;

}

.one {
    display: flex
}

.two {
    display: none;
}

.three {
    display: none;
}

.logo-bg {
    transition: 0.5s;
    fill: var(--accent);
}

.title-section h1 {
    margin: -1.25vh;
    font-size: 7vh;

    line-height: 1.15;
}

.labor {
    font-weight: 700;
    letter-spacing: -0.3vh;
    color: white;
}

.consciente {
    color: var(--accent);
    font-weight: 800;
    transition: 0.5s;
    letter-spacing: -0.5vh;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3vh;



}

#menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: var(--main);
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: 20vh;
    margin-left: 3vh;
    border-radius: 130px 130px 130px 130px;
    transition: 0.3s;
    box-shadow: 0 0 10px var(--main);

}

#menu:hover {
    width: 15vh;
    height: 15vh;
    margin-left: 6vh;
    background-color: var(--accent);
    border: var(--main) 10px solid;
    cursor: pointer;
}

#menu span {
    position: relative;
    background: white;
    width: 30%;
    height: 1vh;
    border-radius: 5px;
    transition: 0.2s;

}

#menu:hover #title {
    color: var(--accent);
}





.hovermenu .line-3 {
    transform: rotate(45deg) translate(-30%, 30%);
    width: 30%;


}

.hovermenu .line-1 {
    transform: rotate(-45deg) translate(-30%, -40%);
    width: 30%;

}









.body-container {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    margin-left: 3vh;
    margin-bottom: 3vh;
    background-color: #EDEBEB;
    width: 100%;
    border-radius: 50px 0px 0 50px;



}

.body-container h2 {
    font-size: 2.5rem;
    line-height: 1;
    margin-top: 1vh;
    margin-bottom: -2vh;
    color: white;
    text-shadow: 0 0 10px var(--accent);

}

.body-container iframe {
    border-radius: 20px;
    margin-top: 3vh;

}

.content {
    margin: 6vh;
}

.toggle {
    display: flex;
    flex-wrap: wrap;

    background-color: var(--main);
    color: white;
    padding: 1vh;
    border-radius: 50px 50px 50px 50px;
    gap: 0.5vh;
    width: max-content;
    align-items: center;
    box-shadow: 0px 0px 10px var(--accent);
    transition: 0.3s;


}

.toggle span {
    cursor: pointer;
    padding: 2vh;
    border-radius: 50px 50px 50px 50px;
    opacity: 0.7;
    transition: 0.15s ease-in-out;

}



.toggle span:hover {
    background-color: var(--accent);
    opacity: 1;
    box-shadow: 0px 0px 10px var(--accent);



}



.toggle:hover {
    box-shadow: inset 0px 0px 20px var(--accent);
}

.toggle .active {
    background-color: var(--accent);
    opacity: 1;
    transition: 0.3s;

}


.toggle:hover .active {
    opacity: 0.5;
    padding: 1.75vh;

}

.toggle .active:hover {
    opacity: 1;


}



#hover {
    display: flex;
    gap: 0.5vh;

}

.section {
    background-color: var(--main);
    margin-top: 4vh;
    padding: 4vh;
    border-radius: 30px;
    box-shadow: 0 0 10px var(--main);
}

#one-section {
    display: flex;
    flex-direction: column;
}

#two-section {
    display: none;
    flex-direction: column;

}

#three-section {
    display: none;
    flex-direction: column;
}




p {
    text-align: justify;
    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 1vh;
    color: white;
}



.footer {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    align-items: center;
}

.footer h2 {
    color: var(--main);
    font-size: 2rem;
    font-weight: 800;
    margin-left: 3vh;

}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main);
    padding: 7vh 1vh 7vh 1vh;
    justify-content: center;
    border-radius: 130px 0% 0% 130px;
    box-shadow: 0px 0px 10px var(--main);

}

.footer-nav ul {
    display: flex;
    gap: 5vh;
    list-style: none;


}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
    padding: 1vh;
    font-weight: 600;

}

.footer-nav a:hover {
    font-size: 1.2rem;
}

.footer-nav a:not(:hover) {
    opacity: 0.5;
}