@import url('https://fonts.cdnfonts.com/css/open-sauce-one');


body {
    background-color: #5970D8;
    color: #ffffff;
    font-family: 'Open Sauce One';
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;

}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.5s;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #5970D8;
    opacity: 0.5;
    z-index: 10;

}

@media (min-aspect-ratio: 16/9) {
    .bg-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .bg-video {
        width: auto;
        height: 100%;
    }
}

#sections {
    border-radius: 100%;
    display: flex;
    opacity: 0.5;
    gap: 2.5vh;
    animation: breathing 2500ms infinite forwards;
    transition: 0.5s;
    margin-right: 8vh;
}

@keyframes breathing {

    50% {
        transform: scale(1.05, 1.05);

    }

    100% {
        transform: scale(1, 1);

    }
}

#sections:hover {
    animation-play-state: paused;
    opacity: 1;

}

.sections:focus {
    animation-play-state: paused;
    opacity: 1;
}





.logo-section {
    display: flex;
    flex-direction: row;
    align-self: center;


}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5vh;
}

.slogan {
    font-size: 2vh;
    margin: -0.5vh -1vh -1vh -0.5vh;

    color: #ffffff;
    font-weight: 600;
}


.logo {
    width: 15vh;
    z-index: 10;
}

.logo-bg {
    transition: 0.5s;
}

.title-section h1 {
    margin: -1.25vh;
    font-size: 7vh;

    line-height: 1.15;
}

.labor {
    font-weight: 700;
    letter-spacing: -0.3vh;
}

.consciente {
    color: #004aad;
    font-weight: 800;
    transition: 0.5s;
    letter-spacing: -0.5vh;
}

.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.nav-section ul {
    list-style-type: none;
    padding: 0;
    font-weight: 700;
    font-size: 5vh;
    line-height: 5vh;
    letter-spacing: -0.2vh;
    color: #ffffff;


}

.nav-section a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
    overflow: hidden;
}


.nav-section a:hover {
    font-size: 7vh;
    color: #ffffff;
    opacity: 1;
    cursor: pointer;
}

.nav-section a:focus {
    font-size: 7vh;
    opacity: 1;
    color: #ffffff;
    outline: none;
    fill: #ffffff;
}

.nav-section a:not(a:hover) {
    opacity: 0.5;
}



.icons {
    position: fixed;
    bottom: -2vh;
    left: 1vh;
    width: 8vh;
    height: auto;
    z-index: 12;

}

.icons ul {
    list-style-type: none;
    padding: 0;
    font-weight: 700;
    font-size: 5vh;
    line-height: 5vh;
    color: #ffffff;
}


.icon {
    fill: white;
    opacity: 1;
    display: flex;
    text-align: center;
    padding: 1vh;
    margin: 1vh;
    border: 0.2vh solid white;
    border-radius: 100%;
    z-index: 12;
    cursor: pointer;


}

.icon:hover {
    fill: #5970D8;
    background-color: #ffffff;
    opacity: 1;

}


#play {
    opacity: 0;
    display: none;
}

#pause {
    opacity: 1;

}

#unmute {
    opacity: 1;
}

#mute {
    display: none;
}

#reload {
    display: none;
}