@import url('https://fonts.cdnfonts.com/css/open-sauce-one');

:root {
    --main: #35a874;
    --accent: #3a7d55;
}

body {
    background-color: white;
    color: black;
    margin: 0;
    font-family: 'Open Sauce One';

    overflow-x: hidden;
    max-width: 100%;

}

#title {
    color: var(--main);
    font-size: 6rem;
    font-weight: 800;
    line-height: 0;
    align-self: center;
    letter-spacing: -0.8vh;

}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5vh;
}

.slogan {
    font-size: 0.8rem;
    margin: -1vh;
    transform: translateY(4px);
    text-align: right;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5vh;
    border-radius: 30px;
}

.logo-section {

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main);
    padding: 3vh 5vh 3vh;

    box-shadow: 0 0 10px var(--main);
    border-radius: 130px 0% 0% 130px;
}




.logo {
    width: 15vh;
    z-index: 10;

}




.logo-bg {
    fill: var(--accent);
    transition: 0.5s;
}

.title-section h1 {
    margin: -1.25vh;
    font-size: 7vh;

    line-height: 1.15;
}

.labor {
    font-weight: 700;
    letter-spacing: -0.3vh;
    color: white;
}

.consciente {
    color: var(--accent);
    font-weight: 800;
    transition: 0.5s;
    letter-spacing: -0.5vh;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3vh;



}

#menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: var(--main);
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: 20vh;
    margin-left: 3vh;
    border-radius: 130px 130px 130px 130px;
    transition: 0.3s;
    box-shadow: 0 0 10px var(--main);


}

#menu:hover {
    width: 15vh;
    height: 15vh;
    margin-left: 6vh;
    background-color: var(--accent);
    border: 10px solid var(--main);
    cursor: pointer;
}

#menu span {
    position: relative;
    background: white;
    width: 30%;
    height: 1vh;
    border-radius: 5px;
    transition: 0.2s;

}








.hovermenu .line-3 {
    transform: rotate(45deg) translate(-30%, 30%);
    width: 30%;


}

.hovermenu .line-1 {
    transform: rotate(-45deg) translate(-30%, -40%);
    width: 30%;

}









.body-container {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    margin-left: 3vh;
    margin-bottom: 3vh;
    background-color: #EDEBEB;
    width: 100%;
    border-radius: 50px 0px 0 50px;



}

.left h2 {
    font-size: 2.5rem;
    line-height: 1.25;
    margin-top: 0vh;
    margin-bottom: 1vh;
    text-shadow: 0 0 10px var(--accent);
}

.right h2 {

    font-size: 2.5rem;
    line-height: 1.25;
    margin-top: 0vh;
    margin-bottom: 1vh;
}


.content {
    display: flex;
    margin: 6vh;

}

.left {
    display: flex;
    flex-direction: column;
    width: 70%;

}

.right {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-end;
    margin-right: 2vh;
    gap: 1vh;



}

.right h2 {
    color: var(--main);
    font-size: 3rem;
    width: 80%;
    font-weight: 900;
    letter-spacing: -0.3vh;
    text-align: right;


}

.line {
    padding: 0.4vh;
    background-color: var(--main);

    width: 80%;
    border-radius: 10px;
    margin-bottom: 2vh;
}



.anuncio {
    width: 80%;

}

.toggle {
    display: flex;
    flex-wrap: wrap;

    background-color: var(--main);
    color: white;
    padding: 1vh;
    border-radius: 50px 50px 50px 50px;
    gap: 0.5vh;
    width: max-content;
    align-items: center;
    box-shadow: 0 0 10px var(--main);
    transition: 0.3s;

}

.toggle span {
    cursor: pointer;
    padding: 2vh;
    border-radius: 50px 50px 50px 50px;
    opacity: 0.7;
    transition: 0.15s ease-in-out;

}



.toggle span:hover {
    background-color: var(--accent);
    opacity: 1;
    box-shadow: 0px 0px 10px var(--accent);



}



.toggle:hover {
    box-shadow: inset 0px 0px 20px var(--accent);
}

.toggle .active {
    background-color: var(--accent);
    opacity: 1;
    transition: 0.3s;

}


.toggle:hover .active {
    opacity: 0.5;
    padding: 1.75vh;

}

.toggle .active:hover {
    opacity: 1;


}



#hover {
    display: flex;
    gap: 0.5vh;

}

.contenido {
    background-color: var(--main);
    color: white;
    padding: 4vh;
    margin-top: 4vh;
    border-radius: 30px;
    box-shadow: 0 0 10px var(--main);
}

.contenido img {
    width: 100%;
    margin-top: 2vh;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--accent);
}

#informe-section {}

#lorisia-section {

    display: none;
    flex-direction: column;
}

#maria-section {

    display: none;
    flex-direction: column;
}

#carla-section {

    display: none;
    flex-direction: column;
}


p {
    text-align: justify;
    line-height: 1.5;
    font-size: 1.2rem;
}



.footer {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    align-items: center;
}

.footer h2 {
    color: var(--main);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 3vh;

}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main);
    box-shadow: 0 0 10px var(--main);
    padding: 7vh 1vh 7vh 1vh;
    border-radius: 130px 0% 0% 130px;
    margin: 3vh 0 3vh 0;

}

.footer-nav ul {
    display: flex;
    gap: 5vh;
    list-style: none;


}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
    padding: 1vh;
    font-weight: 600;

}

.footer-nav a:hover {
    font-size: 1.2em;
}

.footer-nav a:not(:hover) {
    opacity: 0.5;
}